.host-show-header
    .host-show-header-logo
        = @host_user.name 
    .host-show-header-menu
        = link_to "ログアウト", destroy_host_user_session_path, method: :delete, class: 'btn'
        = link_to "編集する", edit_host_user_path, class: "btn"


    
.host-show-main 
    .host-show-main-container
        = image_tag "#{@host_user.image}", alt: "「編集する」からプロフィール画面,自己紹介文を設定することができます"
    .host-profile
        = "#{@host_user.text}" 

    .host-show-posts-container 
        .host-show-posts-container1
            =link_to "イベント投稿する", new_book_path(book_id: @book) ,class: "btn"
        
        
        .host-show-posts-main
            = render @books
