= form_with(url: books_path, local: true, method: :post) do |f|

    = f.hidden_field :book_id, value: @book.id 
    .book-first
    = f.label :start_dt do
        開催日 
    = f.text_field :start_dt, class: "form-control datetimepicker-input", id: "start_dt", data: {toggle: "datetimepicker", target: "#start_dt"}
    .book-second
    = f.label :end_dt do
        締め切り
    = f.text_field :end_dt, class: "form-control datetimepicker-input", id: "end_dt", data: {toggle: "datetimepicker", target: "#end_dt"}
    .book-third
    = f.label :イベント名
    = f.text_field :title 
    .book-fourth
    = f.label :イベント詳細
    = f.text_area :text
    .book-fifth
    = f.label :イメージ写真 do
        = f.file_field :image
                                    
    = f.submit "送信する", class: "btn btn-danger btn-wide"  