= form_for [任意のモデル] do |f|
  .form-group.event__name
    = f.label :name do
      イベント名
    = f.text_field :name, class: "form-control"

  .form-group.event__start-time
    = f.label :start_time do
      開始日時
    = f.text_field :start_time, class: "form-control datetimepicker-input", id: "start_time", data: {toggle: "datetimepicker", target: "#start_time"}

  = f.submit "実行", class: "btn w-100"